{% extends "Portfolio/_base_portfolio.html" %}
{% load static %}

{% block title %}
<title>Portfolio</title>
{% endblock  %}

{% block header_1 %}
    <div class="d-flex">
        {% if user.picture_main %}
            <img src="{{ user.picture_main.url }}" alt="">
        {% else %}
            <img src="{% static 'main1/img/personal.jpg' %}" alt="">
        {% endif %}
    </div>
    <div class="media-body">
        <div class="personal_text">
            <h6>Hello Everybody, i am</h6>
            <h3>{{user.user.get_full_name}}</h3>
            <h4>{{user.job}}</h4>
            <p>{{user.summery | safe}}</p>
            <ul class="list basic_info">
                <li><i class="lnr lnr-calendar-full"></i> {{user.date_of_birth}}</li>
                <li><i class="lnr lnr-phone-handset"></i> {{user.phone}}</li>
                <li><i class="lnr lnr-envelope"></i> {{user.user.email}}</li>
                <li><i class="lnr lnr-home"></i> {{user.Location}}</li>
            </ul>
            <ul class="list personal_social">
                <li><a href="{{user.github}}"><i class="fa fa-github"></i></a></li>
                <li><a href="{{user.skype}}"><i class="fa fa-skype"></i></a></li>
                <li><a href="{{user.twitter}}"><i class="fa fa-twitter"></i></a></li>
                <li><a href="{{user.instagram}}"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
{% endblock header_1 %}

{% block header_2 %}
    <div class="welcome_text">
        <h4>About Myself</h4>
        <p>{{user.about | safe}}</p>
        <div class="row">
            <div class="col-md-4">
                <div class="wel_item">
                    <i class="lnr lnr-database"></i>
                    <h4>${{user.total_donation}}</h4>
                    <p>Total Donation</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="wel_item">
                    <i class="lnr lnr-book"></i>
                    <h4>{{user.total_project}}</h4>
                    <p>Total Projects</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="wel_item">
                    <i class="lnr lnr-users"></i>
                    <h4>{{user.total_volunteers}}</h4>
                    <p>Total Volunteers</p>
                </div>
            </div>
        </div>
    </div>
{% endblock header_2 %}

{% block skill %}
    <div class="skill_main">
        {% for skill in skills %}
        <div class="skill_item">
                <h4>{{skill.title}} <span class="counter">&nbsp {{skill.amount}}</span>%</h4>
                <div class="progress_br">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow={{skill.amount}} aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block exps %}
    <ul class="list">
        {% for exp in exps %}
        <li>
            <span></span>
            <div class="media">
                <div class="d-flex">
                    <p>{{exp.format_date }}</p>
                </div>
                <div class="d-flex"> </div>
                <div class="media-body">
                    <h4>{{exp.title}}</h4>
                    <p>{{exp.about}}</p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock exps %}

{% block services %}
    <div class="main_title">
        <h2>My Services</h2>
    </div>
    <div class="feature_inner row">
        {% for srv in services %}
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <i class="flaticon-sketch"></i>
                    <h4>{{srv.title}}</h4>
                    <p>{{srv.about | safe}}</p>
                </div>
            </div>
        {% endfor %}
       
    </div>
{% endblock services %}

{% block projects %}
    <div class="main_title">
        <h2>My Projects</h2>
    </div>
    <div class="feature_inner row">
        {% for proj in projs %}
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <a class="light" href="project/detail/{{proj.slug}}/"><h4>{{proj.title}}</h4></a>
                    <p>{{proj.summery | safe}}</p>
                </div>
            </div>
        {% endfor %}
    
    </div>
    <div class="more_btn" >
        <a class="main_btn" href="project/list">Load More Items</a>
    </div>
{% endblock projects %}

{% block Papers %}
<div class="container">
    <div class="main_title">
        <h2>My Papers</h2>
    </div>
    <div class="isotope_fillter">
        <ul class="gallery_filter list">
            <li class="active" data-filter="*"><a href="#">All</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="gallery_f_inner row imageGallery1">
        {% for paper in papers %}
            <div class="col-lg-4 col-md-4 col-sm-6 {{paper.tags_name}} creative">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        {% if paper.picture_main %}
                            <img class="img-fluid" src="{{ paper.picture_main.url }}" alt="">
                        {% else %}
                            <img class="img-fluid" src="{% static 'main1/img/gallery/project-1.jpg' %}" alt="">
                        {% endif %}
                        <a class="light" href="{{paper.get_absolute_url}}"><img src="{% static 'main1/img/gallery/icon.png' %}" alt=""></a>
                    </div>
                    <div class="g_item_text">
                        <a href="{{paper.get_absolute_url}}"><h4>{{paper.title}}</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="more_btn">
        <a class="main_btn" href="/">Load More Items</a>
    </div>
</div>
{% endblock %}

{% block follow %}
    <ul class="list">
        <li><a href="{{user.github}}"><i class="fa fa-github"></i></a></li>
        <li><a href="{{user.skype}}"><i class="fa fa-skype"></i></a></li>
        <li><a href="{{user.twitter}}"><i class="fa fa-twitter"></i></a></li>
        <li><a href="{{user.instagram}}"><i class="fa fa-instagram"></i></a></li>
    </ul>
{% endblock  %}

{% block end_aboutme %}
    <aside class="f_widget ab_widget">
        <div class="f_title">
            <h3>About Me</h3>
            <p>{{user.end_about_me | safe}}</p>
        </div>
        
        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
    </aside>
{% endblock end_aboutme %}