{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'main1/img/favicon.png' %}" type="image/png">
        {% block title %}{% endblock  %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'main1/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'main1/vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'main1/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'main1/vendors/owl-carousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'main1/vendors/lightbox/simpleLightbox.css' %}">
        <link rel="stylesheet" href="{% static 'main1/vendors/nice-select/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'main1/vendors/animate-css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'main1/vendors/popup/magnific-popup.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'main1/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'main1/css/responsive.css' %}">
    </head>
    <body>
        
        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container box_1620">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <a class="navbar-brand logo_h" href="/portfolio"><img src="{% static 'main1/img/logo.png' %}" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        {% include "__headers.html"%}
                    </div>
                </nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->
        
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="box_1620">
				<div class="banner_inner d-flex align-items-center">
					<div class="container">
						<div class="banner_content text-center">
                            {% block header%}{% endblock %}
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Contact Area =================-->
        <section class="contact_area p_120">
            <div class="container">
                <div class="row d-flex justify-content-center ">
                    {% block contact_area%}{% endblock %}
                </div>
            </div> ""
        </section>
        <!--================Contact Area =================-->
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'main1/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'main1/js/popper.js' %}"></script>
        <script src="{% static 'main1/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'main1/js/stellar.js' %}"></script>
        <script src="{% static 'main1/vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{% static 'main1/vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'main1/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'main1/vendors/isotope/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'main1/vendors/popup/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'main1/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'main1/js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'main1/js/mail-script.js' %}"></script>
        <script src="{% static 'main1/vendors/counter-up/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'main1/vendors/counter-up/jquery.counterup.min.js' %}"></script>
        <!-- contact js -->
        <script src="{% static 'main1/js/jquery.form.js' %}"></script>
        <script src="{% static 'main1/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'main1/js/contact.js' %}"></script>
    </body>
</html>