
{% extends "Project/_base_project_details.html" %}
{% load static %}

{% block title %}
<title>{{project.title}}</title>
{% endblock  %}

{% block header%}
<h2>{{project.title}}</h2>
{% endblock %}

{% block detail %}
    <div class="row">
        <div class="col-lg-12">
            <blockquote class="generic-blockquote">
{{project.body | safe}}            
            </blockquote>
        </div>
    </div>
{% endblock %}


{% block follow %}
    <ul class="list">
        <li><a href="{{user.github}}"><i class="fa fa-github"></i></a></li>
        <li><a href="{{user.skype}}"><i class="fa fa-skype"></i></a></li>
        <li><a href="{{user.twitter}}"><i class="fa fa-twitter"></i></a></li>
        <li><a href="{{user.instagram}}"><i class="fa fa-instagram"></i></a></li>
    </ul>
{% endblock  %}

{% block aboutme %}
    <aside class="f_widget ab_widget">
        <div class="f_title">
            <h3>About Me</h3>
            <p>{{user.end_about_me | safe}}</p>
        </div>
        
        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
    </aside>
{% endblock  %}