{% extends "blog/_base_blog.html" %}
{% load static %}

{% block Post %}
{% for paper in papers %}
<article class="row blog_item">
<div class="col-md-3">
    <div class="blog_info text-right">
        <ul class="blog_meta list">
            <li><a>{{paper.author}}<i class="lnr lnr-user"></i></li>
            <li><a>{{paper.format_date}}<i class="lnr lnr-calendar-full"></i></a></li>
            <li><a>{{paper.view}} Views<i class="lnr lnr-eye"></i></a></li>
            <li><a>{{paper.paper_comment.count}} Comments<i class="lnr lnr-bubble"></i></a></li>
        </ul>
    </div>
</div>
<div class="col-md-9">
    <div class="blog_post">
        {% if paper.picture_blog %}
            <img src="{{ paper.picture_blog.url }}" alt="">
        {% else %}
            <img src="{% static 'main1/img/blog/main-blog/m-blog-1.jpg' %}" alt="">
        {% endif %}
        <div class="blog_details">
            <a href="{{paper.get_absolute_url}}"><h2>{{paper.title}}</h2></a>
            <p>{{paper.summery|safe}}</p>
            <a href="{{paper.get_absolute_url}}" class="white_bg_btn">View More</a>
        </div>
    </div>
</div>
</article>
{%endfor%}
{% endblock %}


{% block pagination %}
{% include "__pagination.html" with page=papers%}	
{% endblock %}


{% block author_widget %}
<aside class="single_sidebar_widget author_widget">
    {% if user.picture_blog %}
        <img class="author_img rounded-circle" src="{{ user.picture_blog.url }}" alt="">
    {% else %}
        <img class="author_img rounded-circle" src="{% static 'main1/img/blog/author.png' %}" alt="">
    {% endif %}
    <h4>{{user.get_full_name}}</h4>
    <p>{{user.job}}</p>
    <div class="social_icon">
        <a href="{{user.github}}"><i class="fa fa-github"></i></a>
        <a href="{{user.skype}}"><i class="fa fa-skype"></i></a>
        <a href="{{user.twitter}}"><i class="fa fa-twitter"></i></a>
        <a href="{{user.instagram}}"><i class="fa fa-instagram"></i></a>
    </div>
    <p>{{user.summery | safe}}</p>
    <div class="br"></div>
</aside>
{% endblock %}

{% block popular_post %}
<aside class="single_sidebar_widget popular_post_widget">
    <h3 class="widget_title">Last Posts</h3>
    {% for papers in last_papers %}
    <div class="media post_item">
        <div class="media-body">
            <a href="{{papers.get_absolute_url}}"><h3>{{papers.title}}</h3></a>
            <p>{{papers.format_date}}</p>
        </div>
    </div>
    {%endfor%}
    <div class="br"></div>
</aside>
{% endblock %}

{% block tags %}
<aside class="single_sidebar_widget post_category_widget">
    <h4 class="widget_title">tags</h4>
    <ul class="list cat-list">
        {% for tag in tags %}
        <li>
            <a href="/tag/{{tag}}" class="d-flex justify-content-between">
                <p>{{tag}}</p>
            </a>
        </li
        {%endfor %}															
    </ul>
    <div class="br"></div>
</aside>
{% endblock %}

{% block follow %}
    <ul class="list">
        <li><a href="{{user.github}}"><i class="fa fa-github"></i></a></li>
        <li><a href="{{user.skype}}"><i class="fa fa-skype"></i></a></li>
        <li><a href="{{user.twitter}}"><i class="fa fa-twitter"></i></a></li>
        <li><a href="{{user.instagram}}"><i class="fa fa-instagram"></i></a></li>
    </ul>
{% endblock  %}

{% block end_aboutme %}
    <aside class="f_widget ab_widget">
        <div class="f_title">
            <h3>About Me</h3>
            <p>{{user.end_about_me | safe}}</p>
        </div>
        
        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
    </aside>
{% endblock end_aboutme %}